.intro{
    position: absolute;
    top:200px;
    left: 500px;
    
}

#intro-1stline{
    color:blanchedalmond;
    font-style: normal;
    font-size: 50px;
}

#para2nd{
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
}

.more-details{
    width:150px;
    height:40px;
    background-color:rgb(251, 255, 0);
    border:1px solid grey;
    border-radius: 20px;
    position: absolute;
    top: 350px;
    left: 600px;
}

.more-details:hover{
    background-color: rgba(27, 18, 18, 0.308);
    
}

#more-details{
    padding-left:21px;
    padding-top: 8px;
    text-decoration: none;
    font-size:20px;
    color:rgb(236, 11, 11);
    font-weight:bolder;
    font-family: 'Times New Roman', Times, serif;
}