.headerWrapper{
    background-color: brown;
    display: flex;
    max-width: 1349px;
    height:50px;
    justify-content:space-between;
    align-items: center;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
 .menu{
     margin-right: 10px;
     width:670px;
     display: flex;
     justify-content: space-between;
     font-size: large;
     font-family:Georgia, 'Times New Roman', Times, serif;
 }

 #R{
    color:chartreuse;
}

 .symbol{
    margin-left: 20px;
    border-bottom: 2px solid grey;
  
  
 }

 .symbol:hover{
    border-bottom: 2px solid cyan;
 }

 .Home a{ 
    text-decoration: none;
    color: white;
 }

 .Home a:hover{
    border-bottom: 2px solid white;
    color:rgb(21, 255, 0);
 
}

.Resume a{
   text-decoration: none;
   color: white;
}

.Resume a:hover{
   border-bottom: 2px solid white;
   color:rgb(21, 255, 0);
}

.Contact a{
   text-decoration: none;
   color:white;
}

.Contact a:hover{
   border-bottom: 2px solid white;
   color:rgb(21, 255, 0);
}

.About a{
   text-decoration: none;
   color:white;
}

.About a:hover{
   border-bottom: 2px solid white;
   color:rgb(21, 255, 0);
}


.Portfolio:hover{
   border-bottom: 2px solid white;
   color:rgb(21, 255, 0);
}

.Blog:hover{
   border-bottom: 2px solid white;
   color:rgb(21, 255, 0);
}


